.container{
    border: 1px solid red;
}
.row{
    border: 1px solid blue;
}
.col{
    border: 1px solid black;
}
.pink{
    background-color:pink;
}
.blue{
    background-color:blue;
}
.yello{
    background-color:yellow;
}
.red{
    background-color: red;
}

